<div class="vk-banner" style="background-image: url({{ site.image}}); min-height: 100px; height:200px;background-size: contain;" >
    <div class="vk-background-overlay vk-background-black-1 _80"></div>
    <div class="container wrapper">
        <div class="page-heading">
            {{ page.title }}
        </div>
    </div>
</div>
<!-- ./vk-banner -->

<div class="vk-breadcrumb">
    <nav class="container">
        <ul>
            <li><a href="/">accueil</a></li>


            <li class="active">{{ page.title }}</li>
        </ul>
    </nav>
</div>
<!--./vk-breadcrumb-->  