<footer class="vk-footer">
        <div class="container">
            <div class="row">
                <div class="col-md-4 footer-item about">
                    <h4 class="vk-heading text-uppercase"><span class="vk-text-color-yellow-1">About</span> Us</h4>
                    <p class="vk-text">
                        {{ site.description  | slice: 0, 400}} ...
                    </p>
                    <ul class="vk-list vk-social-link">
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>

  
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>

                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                    </ul>
                </div>
                <!--./about-->


                <div class="col-md-4 footer-item quick-link">
                    <h4 class="vk-heading text-uppercase">Quick Links</h4>
                    <ul class="vk-list vk-quick-link text-capitalize">
                        <li><a href="/about">About</a></li>

                        <li><a href="/">Home</a></li>

                        <li><a href="#">Products</a></li>

                        <li><a href="/contact">Contact</a></li>

                        <li><a href="#">Blog</a></li>

                        <li><a href="#">Customer Service</a></li>
                    </ul>
                </div>
                <!--./quick-link-->


                <div class="col-md-4 footer-item office">
                    <h4 class="vk-heading text-uppercase">Offices</h4>
                    <ul class="vk-list vk-office">
                        <li><i class="fa fa-map"></i>{{ site.adresse_dakar }}</li>

                        <li><i class="fa fa-envelope"></i><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>

                        <li><i class="fa fa-phone"></i>{{ site.tel }}</li>

                    </ul>

                    <ul class="vk-list vk-office">
                        <li><i class="fa fa-map"></i>{{ site.adresse_paris }}</li>

                        <li><i class="fa fa-envelope"></i><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>

                        <li><i class="fa fa-phone"></i>{{ site.tel }}</li>

                    </ul>

                </div>
                <!--./office-->

            </div>
            <!--./row-->

        </div>
        <!--./container-->
        <div class="footer-bot">
            <div class="container">
                <p class="vk-text">
                    Design by <a class="vk-text-color-yellow-1" href="http://www.revovision.ca">REVOVISION</a>.
                </p>

                <p class="vk-text">
                    All Rights Reserved.
                </p>
            </div>
        </div>
        <!--./footer-bot-->
    </footer>
    <!--./vk-footer-->  </div>
<!--./main-wrapper-->

<!-- BEGIN: SCRIPT -->
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDQvRGGtL6OrpP5xVMxq_0NgiMiRhm3ycI"></script>
<script src="/plugin/jquery/jquery-2.0.2.min.js"></script>
<script src="/plugin/plugin.min.js"></script>
<script src="/plugin/main.js"></script>
<script src="/plugin/custom.js"></script>
<!-- END: SCRIPT -->