<header class="vk-header vk-header-two-nav ">
        <nav class="vk-navbar  navbar">
            <div class="container">
                <div class="shopping-cart-list collapse" id="shopping-cart-list">
                    <div class="vk-table">
                        <ul class="vk-table-row">
                            <li class="vk-table-data"></li>
                            <li class="vk-table-data">product</li>
                            <li class="vk-table-data">total</li>
                        </ul>
                        <ul class="vk-table-row">
                            <li class="vk-table-data"><i class="fa fa-times"></i></li>
                            <li class="vk-table-data">
                                <div class="vk-img-frame">
                                    <a href="#" class="vk-img">
                                        <img src="images/shop-cart/shop-cart-1.jpg" alt="">
                                    </a>
                                </div>
                                <div class="title">
                                    <a href="3" class="product-name">Mini drill * 1</a>
                                    <span class="price">$59.00</span>
                                </div>
                            </li>
                            <li class="vk-table-data">
                                <span class="price total">$59.00</span>
                            </li>
                        </ul>
                        <ul class="vk-table-row">
                            <li class="vk-table-data"><i class="fa fa-times"></i></li>
                            <li class="vk-table-data">
                                <div class="vk-img-frame">
                                    <a href="#" class="vk-img">
                                        <img src="images/shop-cart/shop-cart-2.jpg" alt="">
                                    </a>
                                </div>
                                <div class="title">
                                    <a href="3" class="product-name">Hammer drill * 1</a>
                                    <span class="price">$59.00</span>
                                </div>
                            </li>
                            <li class="vk-table-data">
                                <span class="price total">$59.00</span>
                            </li>
                        </ul>
                        <ul class="vk-table-row total-all">
                            <li class="vk-table-data"></li>
                            <li class="vk-table-data">
                                <span>Total</span>
                            </li>
                            <li class="vk-table-data">
                                <span class="price total">$118.00</span>
                            </li>
                        </ul>
                        <div class="vk-table-row">
                            <a href="#" class="vk-btn vk-btn-transparent vk-btn-l vk-btn-default">View cart</a>
                            <a href="#" class="vk-btn vk-btn-transparent vk-btn-l vk-btn-default">checkout</a>
                        </div>
                    </div>
                </div>
                <!--./shopping-cart-list-->

                <div class="vk-navbar-header navbar-header">
                    <div class="vk-divider left hidden-xs hidden-sm"></div>
                    <div class="vk-divider right hidden-xs hidden-sm"></div>

                    <button type="button" class="navbar-toggle vk-navbar-toggle collapsed" data-toggle="collapse">
                        <i class="toggle-icon"></i>
                    </button>
                    <!--./vk-navbar-toggle-->

                    <div class="shopping-cart hidden-md hidden-lg">
                        <i class="fa fa-shopping-basket" data-toggle="collapse" data-target="#shopping-cart-list"></i>
                        <span class="number-item">0</span>
                    </div>
                    <!--./shopping-cart-->

                    <a class="vk-navbar-brand navbar-brand" href="/">
                        {% include logo_svg.html %}
                        <span class="logo-text text-uppercase">SENCARGO</span>
                    </a>
                    <!--./vk-navbar-brand-->
                </div>
                <!--./vk-navbar-header-->

                <div class="collapse navbar-collapse vk-navbar-collapse" id="menu">
                    <ul class="vk-navbar-nav vk-navbar-left">

                        <li>
                            <a href="/">home</a>
                            
                        </li>

                        <li>
                            <a href="/about">about</a>
                            
                        </li>

                        <li>
                            <a href="#">services</a>
                            <ul class="vk-navbar-nav child">
                                {% for service in site.services %}
                                <li><a href="{{ service.url }}">{{ service.title }}</a></li>

                                {% endfor %}
                            </ul>
                        </li>
                        <li>
                            <a href="#">customer links</a>
                            <ul class="vk-navbar-nav child">

                                <li><a href="/faq">FAQ's</a></li>

                                <li><a href="#">Link 2</a></li>

                                <li><a href="#">Link 3</a></li>

                                <li><a href="#">Link 4</a></li>

                            </ul>
                        </li>

                        

                    </ul>
                    <ul class="vk-navbar-nav vk-navbar-right">


                        <li>
                            <a href="#">Schedule</a>
                            
                        </li>

                        <li>
                            <a href="#">blog</a>
                            
                        </li>

                        <li>
                            <a href="/contact">contact</a>
                            
                        </li>

                        <li>
                            <a href="#">Book a shipment</a>
                            
                        </li>

                    </ul>
                    <div class="box-search-header collapse" id="box-search-header" aria-expanded="false" role="search">
                        <div class="vk-input-group">
                            <input type="text" name="key" placeholder="Search" class="form-control">
                            <button class="vk-btn btn-search">
                                <i class="fa fa-search"></i>
                            </button>
                        </div>
                    </div>
                </div>
                <!--./vk-navbar-collapse-->
            </div>
            <!--./container-->
        </nav>
        <!--./vk-navbar-->

        <div class="vk-header-top hidden-xs hidden-sm">
            <div class="container">
                <div class="content">
                   
                    <ul class="quick-address">
                        <li>Mon - Sun: 8h00 - 18h00</li>
                        <li class="item-search">
                            <span class="btn-search hidden-xs hidden-sm" data-toggle="collapse" data-target="#box-search-header"><i class="fa fa-search"></i></span>

                        </li>

                    </ul>
                    <ul class="quick-address vk-navbar-left">
                        <li>{{ site.tel }}</li>
                        <li>{{ site.email }}</li>
                    </ul>
                </div>
            </div>
        </div>
        <!--./vk-header-top-->
    </header>
    <!--./vk-header-->