---
layout: default
---

<section class="vk-content">
        <div class="vk-banner vk-banner-homepage vk-banner-large vk-background-fixed">
            <div class="vk-background-overlay vk-background-black-1 _50"></div>
            <div class="vk-background-image">
                <img src="images/image_1.jpg" alt="">
            </div>
            <div class="content">
                <div class="container wrapper">
                    <div class="page-heading">
                        <span class="vk-text title-main">WELCOME TO SENCARGO</span><span class="vk-text title-sub">WE HAVE WHAT YOU'RE LOOKING FOR</span>
                    </div>
                </div>
            </div>
            <!--./content-->
        </div>
        <!--./vk-banner-->
        <div class="vk-home vk-home-shop">
            <div class="vk-what-we-do-section vk-section vk-section-style-2 vk-section-style-3">
                <div class="container">
                    <h2 class="vk-heading vk-heading-border vk-heading-border-left">
                        <span>
                            <span class="vk-text-color-yellow-1">what</span> we do
                        </span>
                    </h2>
                    <nav class="box-filter text-center clearfix">

                        <ul class="vk-filter vk-filter-button-fix hidden-xs hidden-sm">
                            {% for service in site.services %}
                            <li class="data-filter" data-filter=".{{ service.filter}}">{{ service.title }}</li>
                            {% endfor %}

                            

                        </ul>
                        <!--./vk-filter-->

                        <select class="vk-filter vk-filter-button-fix form-control hidden-md hidden-lg" id="dropdown-filter">
                            {% for service in site.services %}
                            <option class="data-filter" value=".{{ service.filter}}">{{ service.title }}</option>
                            {% endfor %}
                            
                        </select>
                        <!--./vk-filter-->
                    </nav>

                    <div class="row vk-filter-fix">
                        {% for service in site.services %}
                        <div class="item {{ service.filter}}">
                            <div class="col-md-6 left">

                                <div class="vk-img-frame">
                                    <img src="{{ service.main_image }}" alt="{{ service.title }}"/>
                                </div>
                            </div>
                            <!--./left-->

                            <div class="col-md-6 right">
                                <div class="content">
                                    <h4 class="text-uppercase vk-title">{{ service.title }}</h4>
                                    <p>{{ service.content }}</p>
                                </div>
                                <div class="vk-buttons">
                                    <div class="vk-counter vk-counter-non-icon">
                                        <ul class="content">
                                            <li class="number-count" data-to="{{ service.number_of_shipments }}">{{ service.number_of_shipments }}</li>
                                            <li class="title text-uppercase">Deliveries to date</li>
                                        </ul>
                                    </div>
                                    <a href="{{ service.url }}" class="vk-btn vk-btn-transparent text-uppercase">SEE MORE
                                        <i class="fa fa-arrow-right"></i>
                                    </a>
                                </div>
                                <!--./vk-buttons-->

                                <div class="vk-work-step-mini">
                                    <h4 class="vk-title text-uppercase">work process</h4>
                                    <ul class="vk-list vk-list-inline vk-list-step-mini">
                                        {% for step in service.steps %}
                                        <li aria-level="{{ step.number }}">{{ step.title }}</li>
                                        {% endfor %}
                                    </ul>
                                </div>
                                <!--./vk-work-step-mini-->
                            </div>
                            <!--./right-->
                        </div>
                        {% endfor %}
                    </div>
                    <!--./row-->
                </div>
                <!--./container-->
            </div>
            <!--./vk-what-we-do-section-->
            <div class="vk-buynow-section vk-background-image-17 vk-section-style-8">
                <div class="vk-background-overlay vk-background-black-1 _50"></div>
                <div class="container">
                    <div class="row">
                        <div class="col-md-5">
                            <div class="box-content">
                                <div class="content">
                                    <h1 class="vk-heading-main text-uppercase">BIG SALE</h1>
                                    <p class="vk-title-main text-capitalize">SAVE ON YOUR SHIPMENT FEES UP TO</p>
                                    <p class="vk-price-main vk-text-color-yellow-1">30%</p>
                                </div>
                                <div class="vk-buttons">
                                    <a href="#" class="vk-btn vk-btn-xl vk-btn-inverse vk-btn-buynow text-uppercase">Subscribe now!</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.container -->
            </div>
            <!--./vk-buynow-section-->
            <div class="vk-our-team vk-image-slider-style-2 vk-parallax vk-background-image-13 vk-section">
                <div class="vk-background-overlay vk-background-white _90"></div>
                <div class="container">
                    <h2 class="vk-heading vk-heading-border vk-heading-border-left">
                    <span>
                        <span class="vk-text-color-yellow-1">our</span>
                        <span style="color: #2e3841;"> Team</span>
                    </span>
                    </h2>
                    <div class="row">

                        <div class="vk-slider vk-slick-slider vk-our-team-slider vk-slider-arrow-top" data-slick='{"slidesToShow": 4}'>
                            {% for team in site.teams %}
                            <div class="item col-md-3">
                                <div class="vk-img-frame">
                                    <a href="{{ team.image }}" class="vk-img" data-lightbox="image-slide-0">
                                        <img src="{{ team.image }}" alt="{{ team.title }}">
                                    </a>
                                </div>
                                <ul class="content">
                                    <li class="title">{{ team.title }}</li>
                                    <li class="position">{{ team.job_position }}</li>
                                </ul>
                            </div>
                            {% endfor %}
                        </div>
                        <!--./vk-slider-->
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.container -->
            </div>
            <!-- /.vk-image-slider-style-2 -->
            <div class="vk-join-our-team-section vk-background-fixed vk-background-image-4 vk-section-style-4 vk-space x-large ">
                <div class="vk-background-overlay vk-background-black-1 _80"></div>

                <div class="container">
                    <div class="content-section text-uppercase">
                        <h2 class="vk-heading vk-heading-border vk-heading-border-right">
                <span>
                    <span class="vk-text-color-yellow-1">Your</span> shipment
                </span>

                        </h2>
                        <p>When shipping items through containers via ocean, it is very important to securely package the items in order to prevent damage.</p>

                        <div class="vk-buttons">
                            <a href="#" class="vk-btn vk-btn-icon vk-btn-default">
                                <span class="title">Learn more</span>
                                <span class="icon">
                        <i class="fa fa-long-arrow-right"></i>
                    </span>
                            </a>
                        </div>
                        <!--./vk-buttons-->
                    </div>
                    <!--./content-section-->
                </div>
                <!-- /.container -->
            </div>
            <!--./vk-join-our-team-section-->
            <!--./vk-buynow-section-->
            <div class="vk-section vk-content-bot">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 left-content">
                            <h2 class="vk-heading vk-heading-border vk-heading-border-left">
                        <span>
                            <span class="vk-text-color-yellow-1">customer</span>
                            say
                        </span>
                            </h2>

                            <div class="row">
                                <div class="vk-testimonial-list vk-slider-arrow-top customer-slider">
                                    {% for customer in site.customers %}
                                    <div class="col-md-6 item">
                                        <div class="vk-testimonial">
                                            <div class="avatar">
                                                <div class="vk-img-frame">
                                                    <a href="#" class="vk-img">
                                                        <img src="{{ customer.image }}" alt="{{ customer.title }}">
                                                    </a>
                                                </div>
                                                <div class="profile">
                                                    <span class="name">{{ customer.title }}</span>
                                                    <span class="position">{{ customer.job_position }}</span>
                                                </div>
                                            </div>
                                            <!--./avatar-->

                                            <div class="content">
                                                <i class="fa fa-quote-left"></i>
                                                <p class="vk-text">{{ customer.testimonial }}</p>
                                            </div>
                                            <!-- ./content-->
                                        </div>
                                        <!--./testimonial-->
                                    </div>
                                    {% endfor %}
                                </div>
                                <!--./vk-testimonial-list-->
                            </div>
                            <!--./row-->
                        </div>
                        <!--./col-md-6-->

                        <div class="col-md-6 right-content">
                            <h2 class="vk-heading vk-heading-border vk-heading-border-left">
                        <span>
                            <span class="vk-text-color-yellow-1">our</span>
                            partners
                        </span>

                            </h2>

                            <ul class="vk-list vk-list-client-style-1">
                                {% for partner in site.partners%}
                                <li class="vk-img-frame" style="width: 185px; height: 120px;">
                                    <img src="{{ partner.image }}" alt="">
                                </li>
                                {% endfor %}
                                

                            </ul>
                            <!--./vk-list-client-style-1-->
                        </div>
                        <!--./col-md-6-->
                    </div>
                    <!--./row-->
                </div>
                <!--./container-->
            </div>
            <!--./vk-content-bot-->
            
        </div>
        <!--./home-->
    </section>
    <!--./content-->